<div class="card card-body text-center bg-dark text-white">
  <h1 class="card-title">About Page</h1>
<p class="card-text">This is a webapp built with Node/Express for jotting down ideas for YouTube videos</p>
</div>