<div class="row">
  <div class="col-md-6">
     <div class="container">
   <div class="card card-body">
      <h1 class="card-title">Contact Me</h1>
      <div class="card-text">
      <p> You can contact me via the email:</p>
      <p class="text-muted">d.akporhonor@gmail.com</p>
      </div>
    </div>
   </div>
  </div>
</div>